.Chat-main
  .Main-header
    .group-info
      .group-info__name test
      %ul.group-info__memberlist 
        Member：
        %li.group-info__memberlist__member まりも
    = link_to "Edit", "#", class: "group-edit"
  .Messages-list
    .messages-list-box
      %ul.messages-list-box__info
        %li.messages-list-box__info__name まりも
        %li.messages-list-box__info__deta 2020/6/23/(Tus) 14:35
      .messages-list-box__message おはよう！
    .messages-list-box
      %ul.messages-list-box__info
        %li.messages-list-box__info__name まりも
        %li.messages-list-box__info__deta 2020/6/23/(Tus) 14:35
      .messages-list-box__message 今日は夜から雨
  .Message-form
    %form.Form__contents
      .input-box
        %input.input-box__text{"placeholder": "type a message", "type": "text"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__btn"}
      %input.submitbtn{"name": "commit", "type": "submit", "value": "Send"}