.Side-bar
  .User-name
    .top-items
      %h3.top-items__name まりも
      .top-items__icons
        = link_to "#", class: "icon" do
          = icon("far", "edit")
          %span<>
        = link_to "#", class: "icon" do
          = icon("fas", "cog")
          %span<>
  .Side-bar-group
    %ul.group-list
      %li.group-list__name techcamp
      %li.group-list__message まだメッセージがありません
    %ul.group-list
      %li.group-list__name techcamp
      %li.group-list__message まだメッセージがありません